/* These styles are available in the cloudcannon blog post editor as classes to apply */

/* Images */
img.wide-image {
    margin-left: -5%;
    margin-right: -5%;
}

img.one-third-image {
    display: inline-block;
    width: calc(33% - 1rem);
    margin: 0.5rem;
  }
  
img.one-half-image {
    display: inline-block;
    width: calc(50% - 1rem);
    margin: 0.5rem;
}

img.float-left-image {
    max-width:50%;
    float: left;
    margin: 0 2rem 0.5rem -2rem;
}

img.float-right-image {
    max-width:50%;
    float: right;
    margin: 0 -2rem 0.5rem 2rem;
}

img.small-centered-image {
    max-width: 300px;
    margin:auto;
}

/* Buttons */
p.button-box {
    border: 0px solid white;
}

p.button-box a { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
}

p.button-box a:hover {
    color: var(--featured);
}

p.button-subtle {
    border: 0px solid white;
}

p.button-subtle a {
    color: var(--featured);
    text-decoration: none;
    border-bottom: 1px solid;
}

p.button-subtle a:hover {
    color: var(--featured-light);
}

p.button-subtle-light {
    border: 0px solid white;
}

p.button-subtle-light a {
    color: var(--light);
    text-decoration: none;
    border-bottom: 1px solid;
}

p.button-subtle-light a:hover {
    color: var(--featured-light);
}

p.button-bold {
    border: 0px solid white;
}

p.button-bold a { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    background-color: var(--featured);
    color: var(--light-text);
    border: 1px solid var(--featured);
}

p.button-bold a:hover {
    background-color: var(--featured-light);
    border: 1px solid var(--featured-light);
    color: var(--light-text);
}

/* Applied to content, excluded from style dropdown */
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }


@media(max-width: 767px) {
    .float-right-image, 
    .float-left-image {
      float: none;
      width: margin 0 1rem;
    }
}
