---
layout: default
title: Our programs and impact
header_image: /uploads/dsc-0478-2.jpg
page_blocks:
  - _id: image-and-text
    background-style: bg-light
    text-style:
    block_html: >-
      <h2>Vocational training</h2><h5>Subheading</h5><p>Seeds and Stories
      provides vocational training programs to local women in the Bigodi
      community. We develop our training curriculum in consultation with local
      women, focusing on subjects that the women would like to learn and
      teach.&nbsp;</p><p>Our training sessions are designed to provide
      participants with new skills and result in more income earning
      opportunities. As a result local women are able to experience higher rates
      of financial independence, freedom to make choices, and a strong sense of
      self-worth.</p><p>Our first training sessions covered an introduction to
      zero waste production, embroidery, reusable pad making, natural dyeing,
      eco-printing,&nbsp; natural beauty products, paper making and shoe making.
      We focused on encouraging the women to express their
      creativity.&nbsp;</p><p>As a result, our training sessions have already
      demonstrated a positive personal and professional impact. The women have
      reported a greater sense of joy, confidence, and fulfillment. Vocational
      training offers a unique space where local women have the opportunity to
      showcase their talent and craftsmanship, resulting in a deeper sense of
      pride.</p><p>Our goal is to offer regular training sessions with local and
      national experts in the fields of sustainability, conservation, circular
      fashion, women&rsquo;s empowerment. Local women have also had the
      opportunity to travel and attend specialized training in Kampala and Fort
      Portal. Some of our training partners include the organisations TEXFAD,
      KAFRED, and BOFTA. All training programs promote skill sharing and the
      preservation of traditional crafts.</p>
    block_image: /uploads/dsc-0641-1.jpg
  - _id: image-banner
    block_image: /uploads/dsc-0544.jpg
  - _id: image-and-text
    background-style: bg-light
    text-style:
    block_html: >-
      <h2>Permaculture education</h2><h5>Subheading</h5><p>Farming in Bigodi is
      failing to provide sufficient nutrition to the community and a decent
      livelihood to farmers, particularly women. For this reason, there is a
      need to grow resilient and equitable food systems that respond to their
      needs, respect the integrity of nature and care for future
      generations.</p><p>In conjunction with our organizational partner KAFRED
      and Bemeriki Bisimwa Dusabe</p><p>(Rwamwanja Rural Foundation), Seeds and
      Stories is offering permaculture training to all members of the Bigodi
      community that wish to attend. The training will enable farmers in Bigodi
      to produce and feed their families with nutritious food and improve their
      health, while reducing women's workload, increasing their income, and
      enhancing their livelihoods. Permaculture has been proven to enrich soil,
      conserve water, increase biodiversity and help fight the climate
      crisis.&nbsp;</p><p>To further promote permaculture in Bigodi and to have
      a bigger social and environmental impact, Seeds &amp; Stories will design
      and implement a permaculture farm that will act as a live demonstration
      site.&nbsp; You can read more about it here (regenerative journey).</p>
    block_image: /uploads/dsc-12423-249b.jpg
  - _id: cta-photobanner
accordion:
  - title: Who are the main beneficiaries of Seeds & Stories?
    content: >-
      The main beneficiaries of Seeds & Stories are rural women living in Bigodi
      who have no source of income and are struggling to provide for their
      families. 
  - title: What is regenerative development?
    content: >-
      Regenerative development aims to have multiple benefits between local
      people and natural ecosystems. These projects generally focus on the areas
      of ecological health, socio-cultural vitality, economic value, and human
      development. The end goal is to create greater resilience, diversity,
      reciprocity, inclusive growth, justice, fairness, and empowerment. 
  - title: What is the main traditional craft in Bigodi?
    content: >-
      The main craft is basket weaving, which is a tradition that is passed
      through generations from mother to daughter.
  - title: ' What are the nature-based solutions that Seeds & Stories is implementing? '
    content: >-
      We are planning to transform a piece of degraded land into a permaculture
      farm. We also promote regenerative agriculture, rainwater harvesting, and
      re-establishing traditional agroforestry systems in conjunction with other
      local organisations. 
  - title: Where do the profits go?
    content: >-
      Seeds and Stories is a non-profit social enterprise. This means that any
      remaining profit is reinvested into social and environmental community
      projects.
  - title: What is permaculture?
    content: >-
      Permaculture is a whole-system design with a holistic approach to creating
      sustainable and regenerative socio-ecological systems based on cooperation
      with nature. Permaculture is an approach to land management and settlement
      design that adopts arrangements observed in flourishing natural
      ecosystems. Permaculture aims to design more equitable and fertile
      systems,  as well as resilient and self-reliant landscapes. This is done
      in order to meet the needs of families and communities in an efficient and
      sustainable manner.  In permaculture, we learn how to create regenerative
      systems to improve the world from how we found it and do so in
      perpetuity. 
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Header  ------------------------>
<section class="padded-tb grid bg-featured tall-60 text-light">
  <div class="col-5_sm-12-middle padded-lg">
    <h1 class="editable">
        Our Programs &amp; Impact
    </h1>
    <h5 class="editable">
        Subheading
    </h5>
  </div>
  <div class="col-7_sm-12 sm-padded">
    <div class="bg-image landscape" style="background-image: url({{page.header_image}});"></div>
  </div>
</section>

<!------------------------ Highlights  ------------------------>
<section class="padded bg-v-light">
  <div class="capped-width-narrow grid center">
    <div class="col-4_sm-12 editable padded-1">
        <h5 class="uppercase"><span class="text-xl">Community</span><br />focused</h5>
    </div>
    <div class="col-4_sm-12 editable padded-1">
        <h5 class="uppercase"><span class="text-xl">11 Artisans</span><br />Empowered</h5>
    </div>
    <div class="col-4_sm-12 editable padded-1">
        <h5 class="uppercase"><span style="font-size: 40px;">35 People&nbsp;</span><br />trained&nbsp;</h5>
    </div>
  </div>
</section>

<!------------------------ Blocks  ------------------------>
{% for block in page.page_blocks %}
{% include blocks/{{block._id}}.html block=block %}
{% endfor %}

<!------------------------ FAQ  ------------------------>
<section class="padded bg-v-light">
  <div class="capped-width-narrow">
    <h2 class="editable">
        Frequently Asked Questions
    </h2>

    {% include accordion.html %}
  </div>
</section>
