---
layout: default
title: Discover our products
header_image: /uploads/dsc-0064-2.jpg
materials:
  - materials_image: /uploads/dsc-12423-192b-1.jpg
    description_html: >-
      <p><strong>Locally Sourced Materials:&nbsp;</strong></p><p>Seeds and
      Stories utilizes rich natural fibres that are indigenous to Bigodi and the
      surrounding region. This includes palm leaf (Ekiido), millet straws
      (Enduuko/emberya), colona maranta, papyrus stems (Emyooro), banana fibre
      (Ebigogo) and raffia. These materials are sourced from the artisans&rsquo;
      own gardens, local farms, and the Bigodi Swamp by biodiversity
      experts.&nbsp;</p><p>We only use organic and responsibly harvested
      plant-based fibres and dyes as well as organic waste.</p><p>Likewise, we
      use 100% plant dyes which is a combination of food waste, foraged plants,
      leaves, seeds, roots, clay and rainwater (Enjura) to dye our fibres and
      fabrics. Local plants used for dyeing include, the Eyakihongo, Omufwooka,
      Omuyembe, Omusororo, Omuguusa, Ekizaali.</p>
  - materials_image: /uploads/dsc-0701-1.jpg
    description_html: >-
      <p><strong>Cultural Heritage
      Materials&nbsp;</strong>​​​​​:&nbsp;</p><p>&nbsp;Barkcloth is an amazing
      mono-material made from the Mutuba Tree that contains only the bark fibre,
      and requires little water to produce. Besides being an environmentally
      friendly alternative to water-intensive fibres and a natural vegan
      alternative, barkcloth also has healing properties. An interdisciplinary
      research team led by Dr. Kirsten Scott is investigating barkcloth&rsquo;s
      potential as an eco-fashion fabric and the health benefits of wearing it.
      The surface texture, color, and tone of barkcloth varies from tree to tree
      and from how long the textile was sun-dried. This regenerative natural
      material is fully compostable and enriches the soil. You can read more
      about this UNESCO protected product here- Bukomansimbi Organic Tree
      Farmers Association (BOTFA)&nbsp;</p>
  - materials_image: /uploads/dsc-0868-1.jpg
    description_html: >-
      <p><strong>Innovative Materials:</strong></p><p>Together with our partners
      TEXFAD and Magezi Gad, Seeds &amp; Stories is exploring the potential use
      of banana fibre as a viable alternative to synthetic, silk and cotton
      fabrics. We are working to create fabrics of different weights and
      thicknesses for our garments and accessories. Banana fibre creates a
      healthier environment for those who wear and make it.</p>
  - materials_image: /uploads/dsc-0514-2.jpg
    description_html: >-
      <p><strong>Waste- Free Materials</strong></p><p>We do our best to save
      materials from the landfill. We accomplish this by purchasing second-hand
      fabrics from local markets, using second hand sewing and embroidery
      threads, and repurposing tires for shoes. Our past training sessions have
      focused on using food waste such as jackfruit seeds to make colourful
      jewelry and natural glue from tree sap. Nothing goes to waste, as we use
      every scrap and material leftovers to make small accessories.</p>
  - materials_image: /uploads/dsc-0738.jpg
    description_html:
  - materials_image: /uploads/dsc-0724-1.jpg
    description_html:
  - materials_image: /uploads/dsc-0244.jpg
    description_html:
  - materials_image: /uploads/dsc-0218.jpg
    description_html:
  - materials_image: /uploads/dsc-0165.jpg
    description_html:
  - materials_image: /uploads/dsc-0019.jpg
    description_html:
  - materials_image: /uploads/dsc-0722.jpg
    description_html:
  - materials_image: /uploads/dsc-12423-135b.jpg
    description_html:
process:
  - process_image: /uploads/dsc-0745.jpg
    description_html: >-
      <p><strong>Hand- Made</strong></p><p>Our products are not mass or machine
      produced but made by the hands of our artisans, at a slower pace.
      Stitching hooks (empindo) and needles (enkiizo) are the only tools that
      are used. Our woven accessories are made by our exceptionally skilled
      artisans using traditional basket weaving techniques ( kuruka ebiibo) that
      have been passed through generations. In a similar manner, our artisans
      either hand stich our barkcloth, fabric accessories and upcycled clothes
      or use a manual sewing machine.</p>
  - process_image: /uploads/dsc-0578.jpg
    description_html: >-
      <p><strong>Water Usage&nbsp;</strong></p><p>Water is scarce, particularly
      in rural Uganda. Thus, we only use harvested rainwater in our production
      processes.</p>
  - process_image: /uploads/dsc-0576.jpg
    description_html: >-
      <p><strong>Natural Dye&nbsp;</strong></p><p>Each natural fibre and fabric
      is dyed by hand, using different processes and techniques, without the use
      of toxic chemicals. Some of our methods include&nbsp; natural dyeing,
      eco-printing, resist-dyeing, block printing with natural dye pastes or
      hand-painted with plant and earth pigments. Our clothes and fabrics are
      properly washed using natural detergents and soap.</p>
  - process_image: /uploads/dsc-0747.jpg
    description_html: >-
      <p><strong>Packaging&nbsp;</strong></p><p>We make our own paper from
      recycled paper and from local fibres such as papyrus, banana fibre or
      backcloth. Thus our packaging and labels will be designed to be reused,
      compostable or recyclable. We will use plant-based inks and local gum
      arabic to handprint all our labels and cards.</p>
  - process_image: /uploads/dsc-0267.jpg
    description_html: >-
      <p><strong>Processing Barkcloth&nbsp;</strong></p><p>Barkcloth is
      harvested annually from the Mutuba Tree, during the humid season and then,
      in a long and manual process, beaten with different types of mallets to
      soften the material. After peeling off the bark the tree is then rubbed
      and covered with banana leaves in order to protect it and allow the bark
      to regenerate. The bark of the tree regenerates and can be harvested for
      40 consecutive years. Finally, the material is left to dry in the sun.
      Please read Please read more about the process Barkcloth - Bukomansimbi
      Organic Tree Farmers Association (BOTFA)</p>
  - process_image: /uploads/dsc-0876.jpg
    description_html: >-
      <p><strong>Processing Banana Fibre&nbsp;</strong></p><p>The development of
      Banana Fibre is done in partnership with TEXFAD and topic matter expert,
      Gad Magezi. After collecting agricultural banana waste, a banana fibre
      extractor is used to create a thread like material. The only machine used
      during the production process is the banana fibre extractor. Finally, the
      fibres are hand spun and woven in manual looms.</p>
  - process_image: /uploads/dsc-0070.jpg
    description_html:
  - process_image: /uploads/dsc-0930.jpg
    description_html:
  - process_image: /uploads/dsc-12423-225b.jpg
    description_html:
  - process_image: /uploads/dsc-0025.jpg
    description_html:
  - process_image: /uploads/dsc-0034-2.jpg
    description_html:
  - process_image: /uploads/dsc-0069-3.jpg
    description_html:
  - process_image: /uploads/dsc-0758.jpg
    description_html:
  - process_image: /uploads/dsc-0481.jpg
    description_html:
  - process_image: /uploads/dsc-0472.jpg
    description_html:
products:
  - product_image: /uploads/dsc-0811-2.jpg
  - product_image: /uploads/dsc-0659.jpg
  - product_image: /uploads/dsc-0758.jpg
  - product_image: /uploads/dsc-0374.jpg
  - product_image: /uploads/dsc-0710-2.jpg
  - product_image: /images/seedsandstories-8.png
  - product_image: /uploads/dsc-0351.jpg
accordion:
  - title: Who are Seeds & Stories suppliers?
    content: >-
      Seeds & Stories does not depend on supply chains but uses what is locally
      or regionally available. Seeds & Stories is focused on building strong,
      trusting, sustainable relationships with a small group of suppliers who
      share our values and mission and have the highest standards of ethics and
      environmental management. 
  - title: What are the principles of a circular economy?
    content: >-
      The circular economy is based on 3 basic principles: eliminate waste and
      pollution, keep products and materials in use, and regenerate nature.
  - title: 'Are your shipping orders carbon neutral? '
    content: >-
      In Uganda we will keep waste associated with transportation to a minimum.
      We plan to take steps to reduce our use of fossil fuels for transport,
      including low impact transport options such as public transport. It is
      common in Uganda for items to be dispatched on public buses. For
      international orders we plan to offer our customers the opportunity to
      offset their postage related emissions. Likewise we plan to support carbon
      offsetting projects. 
  - title: What is regenerative fashion?
    content: >-
      Regenerative fashion is made through regenerative agriculture and only
      uses fibers that come from regenerative farms, playing, therefore, a role
      in healing the planet. It contributes for a better planet for all people,
      animals and future generations.
  - title: What does regeneration mean to you?
    content: >-
      Regeneration goes one step further than sustainability. Rather than
      mitigating the negative impacts on the environment, regeneration focuses
      on amplifying positive impacts. We do this by reversing environmental
      degradation, restoring a healthy relationship between people and nature,
      and making communities more resilient to climate change. For us
      regeneration is all about improving the world from how we found it, and to
      do so in perpetuity. 
page_blocks:
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Header  ------------------------>
<section class="padded-tb grid bg-contrast tall-60 text-light">
  <div class="col-5_sm-12-middle padded-lg">
    <h1 class="editable">
        Discover Our Products
    </h1>
    <h5 class="editable">
        Subheading
    </h5>
  </div>
  <div class="col-7_sm-12 sm-padded">
    <div class="bg-image landscape" style="background-image: url({{page.header_image}});"></div>
  </div>
</section>

<!------------------------ Value proposition  ------------------------>
<section class="padded bg-v-light">
  <div class="capped-width-narrow">
    <h6 class="editable text-featured center">
        <br />We strive to create products that leave the world in a better place than when we started.<br />Seeds &amp; Stories deeply cares about its makers, people within its community, and the planet. We place artisan work and quality craftsmanship above mass production and meaningless consumption.&nbsp;<br /><br />We creates unique, stylish, and timeless fashion items for women that want to make a difference. By shopping with us you can help reduce poverty and regenerate the natural environment in rural Uganda.<br /><br />&nbsp;
    </h6>
    <div class="grid center">
      <div class="col-4_sm-12 editable padded-1">
          <h5 class="uppercase text-l">Give Artisans a Voice</h5>
      </div>
      <div class="col-4_sm-12 editable padded-1">
          <h5 class="uppercase text-l">Provide Training &amp; Education</h5>
      </div>
      <div class="col-4_sm-12 editable padded-1">
          <h5 class="uppercase text-l">Build Resilient Communities</h5>
      </div>
    </div>
  </div>
</section>

<!---------------------------- Discover materials ------------------------->
<section class="bg-light padded">
  <div class="editable">
      <h5>While we get our shop up and running</h5>
      <h2>Discover Our Materials</h2>
  </div>

  <div class="slider-container">
    {% for item in page.materials %}
    <div class="slider-item"> 
      <div class="bg-image landscape" style="background-image: url({{item.materials_image}});"></div>
      <div class="margin-t-1">{{item.description_html}}</div>
    </div>
    {% endfor %}
  </div>
</section>


<!--------------------------- Discover process ------------------------->
<section class="bg-v-llight padded">
  <div class="editable right">
      <h5>organic, clean, slow fashion</h5>
      <h2>How Our Production is Different</h2>
      <p>&nbsp;</p>
      <p>Seeds &amp; Stories embraces circular economy principles and employs as much as possible zero waste patterns. From harvesting to sourcing, from zero-waste production methods to packaging, each product is carefully designed and made in house. We follow an &ldquo;under one roof&rdquo; approach which allows us to have complete control over supplies, production methods, schedules, and ethical working conditions. Seeds &amp; Stories operate according to the 4R-approach: reduce, reuse, regenerate and recycle.</p>
  </div>

  <div class="slider-container">
    {% for item in page.process %}
    <div class="slider-item"> 
      <div class="bg-image landscape" style="background-image: url({{item.process_image}});"></div>
      <div class="margin-t-1">{{item.description_html}}</div>
    </div>
    {% endfor %}
  </div>
</section>

<!------------------ Coming soon - Shop ---------------------->
<section class="padded bg-featured text-light">
  <div class="capped-width-narrow grid">
    <div class="col-12 editable center">
        <h2>Coming soon...</h2>
        <h5>Products slowly crafted for you</h5>
    </div>
    {% for item in page.products %}
    <div class="col-4_sm-6 padded-1">
      <div class="bg-image square" style="background-image: url({{item.product_image}});"></div>
    </div>
    {% endfor %}
  </div>

</section>

<!------------------------ FAQ  ------------------------>
<section class="padded bg-v-light">
  <div class="capped-width-narrow">
    <h2 class="editable">
        Frequently Asked Questions
    </h2>
    {% include accordion.html %}
  </div>
</section>

<!------------------------ Blocks  ------------------------>
{% for block in page.page_blocks %}
{% include blocks/{{block._id}}.html block=block %}
{% endfor %}
