* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
img { max-width: 100%; height: auto; }

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }


/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1200px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }


.tall-100 { min-height: 100vh; }
.tall-90  { min-height: 90vh; }
.tall-80  { min-height: 80vh; }
.tall-70  { min-height: 70vh; }
.tall-60  { min-height: 60vh; }
.tall-50  { min-height: 50vh; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-tb-lg  { padding-top: 10%; padding-bottom: 10%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

.margin-b-negative {margin-bottom: -1.5rem;}
.margin-t-lg       {margin-top: 5rem; }

/* ------------ Backgrounds & Background Images  ----------------------- */

/* ------------ Backgrounds & Background Images  ----------------------- */
.bg-dark     { background-color: var(--dark);}
.bg-medium { background-color: var(--medium);}
.bg-featured { background-color: var(--featured);}
.bg-featured-light { background-color: var(--featured-light);}
.bg-contrast {background-color: var(--contrast);}
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }

.bg-image {
    background-color: #CBAC93; /* Set a fall-back color while images are loading */ 
    background-image: url(./images/artisan-and-margarida.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

.bg-cta-banner { 
    background-image: url(/images/cta-banner.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}


/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     { padding-bottom: 66% ; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }

.img-400 { max-height: 400px;}
.img-500 { max-height: 500px;}
.img-600 { max-height: 600px;}

/* Image shapes */
.shape-teardrop {
    border-radius: 20rem;
    border-bottom-right-radius: 0;
}
.shape-dome {
    border-radius: 20rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.shape-roundtopright { border-radius: 0 4rem 0 0; }

.shape-circle { border-radius: 50%; }

.fixed {
    background-attachment: fixed;
}

img.float-left-image {
    max-width:50%;
    float: left;
    margin: 2rem 3rem 2rem -5rem;
}
/* Image gallery */
  
.flip-alternate { flex-direction: row-reverse;}

/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.uppercase    { text-transform: uppercase; }

.text-light {color: #f8f4f1;}

body {
    font-family: 'Jost', sans-serif; 
    font-weight: 300;
    font-style: normal;  
    color: rgb(60,60,60);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

p, li {
    line-height: 1.4; 
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

li { list-style-position: inside; }

p:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: 3rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 300;
}

h3 {
    font-size: 1.4rem;
    font-style: italic;
    font-family: 'Lora', serif;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'Lora', serif;
    font-weight: 300;
}

h5 {
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

h6 {
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    line-height: 1.4; 
}

/* Unique Typography Styles  */
.emphasis       { font-size: 1.4rem;}
.text-l { font-size: 2rem;}
.text-xl { font-size: 2.5rem;}
.testimonial       { font-size: 1.2rem; font-family: 'Lora', serif;}
.text-featured  { color: var(--featured);}
.text-light     { color: var(--light-text);}
.text-w-medium  { font-weight: 500;}
.text-w-light  { font-weight: 300;}
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }
.sans-serif { font-family: 'Jost', sans-serif; }

/* ------------ Buttons & Links ------------ */
a {
    color: inherit;
    font-size: 1.1rem;
}

a:hover {
  color: var(--featured); 
}

p a {
    text-decoration: none;
    border-bottom: 1px solid;
}

p a:hover { 
  color: var(--featured); 
}

.bg-contrast a:hover {
    color: var(--contrast-dark);
}

a.hover-light:hover {
  color: var(--light); 
}

.button-box { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
}

.button-box:hover {
    color: var(--featured);
}

.button-subtle {
    color: var(--featured);
    text-decoration: none;
    border-bottom: 1px solid;
}

.button-subtle:hover {
    color: var(--featured-light);
}

.button-bold { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    background-color: var(--featured);
    color: var(--light-text);
    border: 1px solid var(--featured);
}

.button-bold:hover {
    background-color: var(--featured-light);
    border: 1px solid var(--featured-light);
    color: var(--light-text);
}

.button-cta {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
}

.button-cta:hover {
    color: inherit;
    opacity: 0.7;
    transition: 0.7s;
}

a.button-hover-light:hover {
    background-color: var(--light);
    border-color: var(--light);
    transition: 0.5s;
}

/* ------------ Forms -------------- */
form input, form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid var(--dark);
    background-color: var(--light);
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
  }
  
  form input:focus, form textarea:focus {
    border-color: var(--featured-light);
  }
  
  textarea {
    min-height: 4.5rem;
  }
  
  form label {
    margin-top: 1rem;
    display: block;
    /* text-transform: uppercase; */
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
  
  form button {
    display: inline-block;
    margin-top: 1rem;
    border: none;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 400;
    background-color: inherit;
    color: var(--featured);
  }
  
  form button:hover {
    font-style: italic;
    color: var(--featured);
  }
  
/* ------------ Header & Hamburger Menu -------------- */

nav a {
    padding: 0.25rem 1rem;
    display: inline-block;
    text-decoration: none;
    font-family: jost, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
}

header nav a:hover {
    color: var(--featured-light);
}

footer nav a {
    padding: 0.25rem 0;
    display: block;
}

footer nav a:hover {
color: var(--featured-light);
}

.logo {
    text-decoration: none;
    display: inline;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;
    font-family: missrobertson-pro,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button-header {
    background-color: var(--featured);
    color: var(--light);
    padding: 0.25rem 1rem;
    display: inline-block;
}

.button-header:hover {
    background-color: var(--featured-light);
    color: var(--light);
}

.button-footer {
    color: var(--featured);
    font-weight: 500;
}

/* Dropdown styles */

.dropdown { 
    position: relative; 
    display: inline-block;
}

.dropdown-title {
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0.25rem;
    padding: 0.25rem;
    display:none; 
    background-color: var(--v-light);
    z-index: 2;
    text-align: left;
    min-width: 15rem;
}

.dropdown:hover .dropdown-content{ 
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 0.4rem;
}

.hamburger-button {
    cursor: pointer;
    padding: 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    position: fixed;
    right: 5%;
    top: 1%;
    z-index: 5;
}
    
/* Styles when the hamburger button is active  */
.hamburger-button.active {
    color: white;
}


.mobile-menu {
    display: none; 
    background-color: var(--featured);
    padding: 5%;
    position: fixed; 
    z-index:5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 5%;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
}

/* ------------ Slider --------------- */
/* Slider Item */
.slider-item {
    margin: 0.5rem;
    display: none;
    padding: 5%;
  }
  
.slider-item:first-child {
    display: block;
  }
  
/* Slider Container */
.slider-container {
    padding: 0 5%;
  }
  
.slick-next::before, .slick-prev::before {
    font-family: 'Jost', sans-serif;
    font-size: 27px;
    line-height: 1;
    opacity: .75;
    color: var(--featured);
  }
  
.slick-next { right: 1.3%; }
.slick-prev { left: 1%; }

.slick-dots { 
    left: 0;
    bottom: 0px;
}

.slick-dots li { margin: 0 3px;} /* This align the dots perfectly to the center, do not delete */

.slick-dots li button::before {
  font-size: 8px;
  color: var(--featured);
}

.slick-dots li.slick-active button::before {
  font-size: 8px;
  color: var(--featured);
}
  

/* ------------ Blogging elements  ----------------------- */
.tag {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 1rem;;
}

.post-info {
    font-size: 0.8rem;
    color: var(--medium-text);
}

a.related-posts {
    text-decoration: none;
}
  
/* Social Share Nav  */

.social-share {
    display: block;
}

.social-share a {
    padding: 0.25rem 0.5rem;
}

/* Miscelaneous elements  */

hr.short {
    border: 0.5px solid;
    height: 1px;
    width: 3rem;
    margin: 0.3em 1rem;
    display: inline-block;
}

hr.short.center {
    margin:auto;
    margin: 1rem auto;
}
  
  
  
/* ------------ Responsive Styles ----------------------- */

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none; 
}

/* SM devices */
@media(max-width:47em) {

	.show-sm { display: block; }
	.hide-sm { display: none;  }

    .sm-padded {padding: 5%;}

    h1 { font-size: 2rem;}

    img.float-right-image, 
    img.float-left-image {
    float: none;
    max-width: 100%;
    margin: 0;
    }
}