---
layout: default
title: Meet our team
header_image: /uploads/dsc-0425-2.jpg
artisans:
  - name: 'Stella Mbabazi '
    bio: >-
      Vice-chairperson of the Bigodi Women’s Group and the chairperson of Seeds
      and Stories, Stella is a natural leader and role model in her community.
      With 25 years of experience, Stella possesses valuable knowledge of
      weaving, natural dyes, and local flora.  Her big dreams are to have enough
      income to provide for her four children, be more literate, and own a
      natural dye training centre. Stella’s responsibilities include training,
      quality control, and managing the dye process. 
    bio_url:
    bio_image: /uploads/dsc-12423-226b-2.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-1001.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0307-2.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0650-1.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0802-1.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0654-1.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0679-1.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0346-1.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0346.jpg
team:
  - name: Margarida Vasconcelos
    title: Creative Director & Co-founder
    bio: >-
      Margarida Vasconcelos is a women’s empowerment advocate. She has a
      background in law with over 20 years of work experience in civic, social
      and international organizations. Margarida also has a strong background in
      sustainable fashion, including circular design and zero waste pattern
      making. She is passionate about researching bio-regional materials such as
      plant dyes, pigments and local fibres. Margarida has been training the
      ladies in applying their traditional craft skills to modern designs
      encouraging them to thrive.   Margarida is responsible for community
      engagement, partnership development, and managing soil to soil production
      processes.
    bio_image: /uploads/dsc-0129-3.jpg
  - name: Kyla Egan
    title: Commercial Director & Co-founder
    bio: >-
      Kyla Egan is an economic developer specializing in remote and rural
      communities. For the past five years Kyla has worked as researcher,
      consultant, and project manager in the responsible tourism industry. Her
      work has spanned across the Western Hemisphere and has primarily focused
      on indigenous and community-based tourism. With an eye for detail, Kyla
      uses evidence-based solutions to design and implement projects that create
      tangible economic benefits for local stakeholders while utilizing
      sustainable development frameworks.   Kyla is responsible for operations,
      fundraising development, and financial management. 
    bio_image:
  - name: Shamusah Ainebyoona
    title: 'Project Manager '
    bio: >-
      Shamusah holds a Bachelor’s Degree of Science in environmental management.
      She previously worked at Kabale Municipal Council where she worked with
      local government officials on environmental and waste management projects.
      She is passionate about conservation with a key interest in regenerative
      agriculture. Shamusah plays a crucial role in developing and implementing
      Seeds & Stories regenerative approaches, as well as engaging and training
      the community. Shamusah coordinates the work of the artisan’s group and
      organises training sessions.
    bio_image: /uploads/dsc-0224-1.jpg
  - name: Alinda Deus
    title: Project Manager & Community Engagement
    bio: >-
      Deus holds a Bachelor's Degree in Computer Engineering, and he is
      currently doing a Master's degree in Electronics and Communications
      Engineering. Deus has a vast knowledge of Ugandan culture and traditions.
      He has years of experience working with our organisational partner KAFRED
      in the tourism industry with a focus on community development. Deus
      oversees the project in Bigodi alongside Shamusah. 
    bio_image: /uploads/dsc-0827-1.jpg
collaborators:
  - name: John Tinka
    bio: >-
      Tinka is a highly respected community leader and a founding member of the
      Kibale Association for Rural and Environmental Development (KAFRED) with
      vast experience in conservation, sustainable tourism and community
      development. Tinka has been supporting, advising and helping Seeds &
      Stories founders since the very start of this project.
    bio_image:
partners:
  - name: Kibale Association for Rural & Economic Development
    bio: >-
      The Kibale Association for Rural and Environmental Development (KAFRED) is
      a community-based organisation, formed in Bigodi in 1992. It aims to
      preserve the local environment while advancing health, education and
      economic growth in the wider local community. KAFRED’s initial objectives
      were to use ecotourism as a tool for promoting conservation which has then
      evolved into using the revenues from tourism to fund community development
      projects KAFRED has twice won the UNDP Equator Prize. Alongside Kafred,
      Seeds and Stories will offer permaculture design courses, as well as
      sustainable resource use training. 
    bio_url:
    bio_image: /uploads/226a8a2d-963a-4189-abdb-4fddeb6a450b.JPG
  - name: TEXFAD
    bio: >-
      TEXFAD is a Ugandan not-for-profit organisation that transforms
      agricultural banana waste into high-quality banana fibre textiles and
      handicrafts. TEXFAD is able to utilize natural resources sustainably while
      supporting job and wealth creation among youth and women in Uganda. 
      TEXDAD operates a skills training academy that provides hands on training
      and business incubation for sustainable fashion design and production.
    bio_url:
    bio_image: /uploads/5fcad7a4-e16c-4bc5-9847-5cb3699605ed.JPG
  - name: Gad Magezi
    bio: >-
      Gad is an internal audit officer at Uganda Industrial Research Institute
      (UIRI) and chief trainer, operations and training at United Innovations
      Development Centre (UIDC). He has extensive experience conducting research
      on handmade papermaking, developing paper products, briquettes from
      agricultural wastes and sanitary pads. He has trained many students and
      entrepreneurs under UIRI. Gad is a formal member of our Banana Fibre
      Consortium to provide economic opportunities to rural Uganda communities
      through training, product development, and marketing of banana fibre. 
    bio_url:
    bio_image:
page_blocks:
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Header  ------------------------>
<section class="padded-tb grid bg-contrast tall-60 text-light">
  <div class="col-5_sm-12-middle padded-lg">
    <h1 class="editable">
        Meet the Team
    </h1>
    <h5 class="editable">
        Subheading
    </h5>
  </div>
  <div class="col-7_sm-12 sm-padded">
    <div class="bg-image landscape" style="background-image: url({{page.header_image}});"></div>
  </div>
</section>

<!------------------------ Artisans  ------------------------>
<section class="bg-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Meet the Artisans
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center">
    {% for artisan in page.artisans %}
      <div class="col-3_sm-6 padded-1">
        <a href="{{artisan.bio_url}}"><div class="bg-image square margin-b" style="background-image: url({{artisan.bio_image}});"></div></a>
        <h5>{{artisan.name}}</h5>
        <p>{{artisan.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Team  ------------------------>
<section class="bg-v-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Meet our Team
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center capped-width-narrow">
    {% for team-member in page.team %}
      <div class="col-3 margin-b">
        <div class="bg-image square margin-b" style="background-image: url({{team-member.bio_image}});"></div>
      </div>
      <div class="col-8 padded">
        <h5 class="margin-b-0">{{team-member.name}}</h5>
        <h6>{{team-member.title}}</h6>
        <p>{{team-member.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Collaborators & Partners  ------------------------>
<section class="bg-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Collaborators
    </h2>
    <h5 class="editable">
        Subheading<em></em>
    </h5>    
  </div>
  <div class="grid-center">
    {% for collab in page.collaborators %}
      <div class="col-3_sm-6 padded-1">
        <div class="bg-image square margin-b" style="background-image: url({{collab.bio_image}});"></div>
        <h5>{{collab.name}}</h5>
        <p>{{collab.bio}}</p>
      </div>
    {% endfor %}    
  </div>
  <div class="center text-featured padded-t">
    <h2 class="editable">
        Partners
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center">
    {% for partner in page.partners %}
      <div class="col-3_sm-6 padded-1">
        <a href="{{partner.bio_url}}"><div class="bg-image square margin-b" style="background-image: url({{partner.bio_image}});"></div></a>
        <h5>{{partner.name}}</h5>
        <p>{{partner.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Acknowledgments  ------------------------>
<section class="bg-contrast padded">
  <div class="text-light capped-width-narrow">
    <h2 class="editable">
        Acknowledgements
    </h2>
    <h5 class="editable">
        We would like to express our gratitude to the following people, for their support and willingness to volunteer their time and resources:
    </h5>
    <div class="editable">
        <p><strong>Website Design- </strong>Estela Castelli Florino Pilz, <a href="https://www.therootstudio.co/">The Root Studio&nbsp;</a></p>
        <p><strong>Fundraising Video</strong>- Vikram S.D., <a href="https://www.bloreproductions.com/">Blore Productions</a></p>
        <p><strong>Logo Design- </strong>Hugo Campos, <a href="http://www.hugocampos.art">Hugo Campos Art</a></p>
        <p><strong>Marketing Strategy- </strong>Tze Ching Yeung, <a href="https://wedisruptagency.mykajabi.com/">We Disrupt Agency</a></p>
        <p>&nbsp;</p>
        <p>We would also like to express our gratitude to the following inspiring women for all advice and support they have been given us:&nbsp;</p>
        <p>Lesli Robertson ( Mekeka Designs), Kirsten Scott (Bark Cloth Research Network) Rachel MacHenry&nbsp; (Handwork Studio) Rachel Sheila Kan (The Ecosystem Incubator) Jo Salter (Where Does It Come From?) Stella Atal (Atal Stella) Georgina Wilson-Powell (Pebble Magazine) Cianne Jones (Women in Leadership)</p>
    </div>


  </div>
</section>

<!------------------------ Blocks  ------------------------>
{% for block in page.page_blocks %}
{% include blocks/{{block._id}}.html block=block %}
{% endfor %}
