---
layout: default
title: Meet our team
header_image: /uploads/dsc-0179.jpg
artisans:
  - name: Lisa
    bio: >-
      Lisa is a dreamer, a mother of three young boys, an advocate for education
      and community development
    bio_url:
    bio_image: /uploads/dsc-0068.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0224.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0236.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0710.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0650.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0679.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0802.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0654.jpg
  - name:
    bio:
    bio_url:
    bio_image: /uploads/dsc-0346.jpg
team:
  - name: Margarida Vasconcelos
    title: Creative Director & Co-founder
    bio: >-
      Margarida Vasconcelos is a women’s empowerment advocate. She has a
      background in law with over 20 years of work experience in civic, social
      and international organizations. Margarida also has a strong background in
      sustainable fashion, including circular design and zero waste pattern
      making. She is passionate about researching bio-regional materials such as
      plant dyes, pigments and local fibres. Margarida has been training the
      ladies in applying their traditional craft skills to modern designs
      encouraging them to thrive.   Margarida is responsible for community
      engagement, partnership development, and managing soil to soil production
      processes.
    bio_image:
  - name: Kyla Egan
    title: Commercial Director & Co-founder
    bio: >-
      Kyla Egan is an economic developer specializing in remote and rural
      communities. For the past five years Kyla has worked as researcher,
      consultant, and project manager in the responsible tourism industry. Her
      work has spanned across the Western Hemisphere and has primarily focused
      on indigenous and community-based tourism. With an eye for detail, Kyla
      uses evidence-based solutions to design and implement projects that create
      tangible economic benefits for local stakeholders while utilizing
      sustainable development frameworks.   Kyla is responsible for operations,
      fundraising development, and financial management. 
    bio_image:
  - name: Shamusah Ainebyoona
    title: Project Manager & Community Engagement
    bio: >-
      Shamusah holds a Bachelor’s Degree of Science in environmental management.
      She previously worked at Kabale Municipal Council where she worked with
      local government officials on environmental and waste management projects.
      She is passionate about conservation with a key interest in regenerative
      agriculture. Shamusah plays a crucial role in developing and implementing
      Seeds & Stories regenerative approaches, as well as engaging and training
      the community. Shamusah coordinates the work of the artisan’s group and
      organises training sessions.
    bio_image: /uploads/dsc-0224.jpg
  - name:
    title:
    bio:
    bio_image: /uploads/dsc-0827.jpg
collaborators:
  - name: Collab
    bio: Collaborator helps us in ...
    bio_image:
partners:
  - name: Business name
    bio: Business supports us in ...
    bio_url:
    bio_image: /uploads/226a8a2d-963a-4189-abdb-4fddeb6a450b.JPG
  - name:
    bio:
    bio_url:
    bio_image: /uploads/5fcad7a4-e16c-4bc5-9847-5cb3699605ed.JPG
page_blocks:
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Header  ------------------------>
<section class="padded-tb grid bg-contrast tall-60 text-light">
  <div class="col-5_sm-12-middle padded-lg">
    <h1 class="editable">
        Meet the Team
    </h1>
    <h5 class="editable">
        Subheading
    </h5>
  </div>
  <div class="col-7_sm-12 sm-padded">
    <div class="bg-image landscape" style="background-image: url({{page.header_image}});"></div>
  </div>
</section>

<!------------------------ Artisans  ------------------------>
<section class="bg-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Meet the artisans
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center">
    {% for artisan in page.artisans %}
      <div class="col-3_sm-6 padded-1">
        <a href="{{artisan.bio_url}}"><div class="bg-image square margin-b" style="background-image: url({{artisan.bio_image}});"></div></a>
        <h5>{{artisan.name}}</h5>
        <p>{{artisan.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Team  ------------------------>
<section class="bg-v-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Meet our team
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center capped-width-narrow">
    {% for team-member in page.team %}
      <div class="col-3 margin-b">
        <div class="bg-image square margin-b" style="background-image: url({{team-member.bio_image}});"></div>
      </div>
      <div class="col-8 padded">
        <h5 class="margin-b-0">{{team-member.name}}</h5>
        <h6>{{team-member.title}}</h6>
        <p>{{team-member.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Collaborators & Partners  ------------------------>
<section class="bg-light padded">
  <div class="center text-featured">
    <h2 class="editable">
        Collaborators
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center">
    {% for collab in page.collaborators %}
      <div class="col-3_sm-6 padded-1">
        <div class="bg-image square margin-b" style="background-image: url({{collab.bio_image}});"></div>
        <h5>{{collab.name}}</h5>
        <p>{{collab.bio}}</p>
      </div>
    {% endfor %}    
  </div>
  <div class="center text-featured padded-t">
    <h2 class="editable">
        Partners
    </h2>
    <h5 class="editable">
        Subheading
    </h5>    
  </div>
  <div class="grid-center">
    {% for partner in page.partners %}
      <div class="col-3_sm-6 padded-1">
        <a href="{{partner.bio_url}}"><div class="bg-image square margin-b" style="background-image: url({{partner.bio_image}});"></div></a>
        <h5>{{partner.name}}</h5>
        <p>{{partner.bio}}</p>
      </div>
    {% endfor %}    
  </div>
</section>

<!------------------------ Acknowledgments  ------------------------>
<section class="bg-contrast padded">
  <div class="text-light capped-width-narrow">
    <h2 class="editable">
        Gratitude wall
    </h2>
    <h5 class="editable">
        Acknowledgement to the people who supported our journey
    </h5>
    <div class="editable">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quos, obcaecati eum facilis quisquam at architecto provident mollitia quasi repellendus facere accusamus similique id ipsa libero quam nulla, voluptatum cum?</p>
        <p><a href="https://therootstudio.co">The Root Studio &ndash; Website Development:</a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, quos, obcaecati eum facilis quisquam at architecto provident mollitia quasi repellendus facere accusamus similique id ipsa libero quam nulla, voluptatum cum?</p>
    </div>


  </div>
</section>

<!------------------------ Blocks  ------------------------>
{% for block in page.page_blocks %}
{% include blocks/{{block._id}}.html block=block %}
{% endfor %}
