<footer class="padded bg-light grid-spaceBetween">
    <div class="col-8_sm-12 grid">
      <div class="col-12">
        <a href="#" class="logo"> seeds & stories </a>
        <h5>Empowering women through regenerative artisanary and vocational training</h5>        
      </div>

      <div class="col-12-bottom">
          <script async data-uid="afd06d41f6" src="https://unique-teacher-3646.ck.page/afd06d41f6/index.js"></script>
          <a data-formkit-toggle="afd06d41f6" href="https://unique-teacher-3646.ck.page/afd06d41f6" class="button-color">To receive updates from our journey, subscribe to our newsletter</a>
      </div>
    </div>      

    <nav class="col-4_sm-12 right">
      <div>
        <a href="/about.html"> Our mission & journey</a>
        <a href="/team.html"> Meet the team</a>
      </div>
      <a href="/impact.html"> Impact </a>
      <a href="/blog.html"> Blog </a>
      <a href="/shop.html"> Shop </a>
      <a href="/donate.html" class="button-footer"> Get involved </a>
    </nav> 

  </footer>
  