<header class="grid-middle bg-light padded-1 padded-lr">
    <div class="col-4-middle hide-sm">
      <a href="/" class="logo"> seeds & stories </a>
    </div> 
    <nav class="col-8 hide-sm right">

      <div class="dropdown">
        <a class="dropdown-title"> About </a>
        <div class="dropdown-content">
            <a href="/about.html"> Our mission & journey</a>
            <a href="/team.html"> Meet the team</a>
            
        </div> 
      </div>
      <a href="/impact.html"> Impact </a>
      <a href="/blog.html"> Blog </a>
      <a href="/shop.html"> Shop </a>
      <a href="/donate.html" class="button-header"> Get involved </a>
    </nav> 

    <div class="col-10-middle show-sm">
      <a href="/" class="logo"> seeds & stories </a>
    </div> 
    <div class="col-2-right show-sm">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu bg-featured text-light"> 
    <nav> 
      <div>
        <a href="/about.html"> Our mission & journey</a>
        <a href="/team.html"> Meet the team</a>
        <a href="/impact.html"> Our impact </a>
      </div>
      <a href="/blog.html"> Blog </a>
      <a href="/contact.html"> Contact </a>
      <a href="/shop.html"> Shop </a>
      <a href="/donate.html"> Get involved </a>
    </nav>
  </div> 