<footer class="padded bg-light grid">
    <div class="padded-1 col-6_sm-12">
      <a href="#" class="logo"> Seeds & Stories </a>
      <h3>Empowering women through regenerative artisanary and vocational training</h3>
    </div> 
    <nav class="padded-1 col-6_sm-12">
      <div>
        <a href="/about.html"> Our mission & journey</a>
        <a href="/team.html"> Meet the team</a>
        <a href="/impact.html"> Our impact </a>
      </div>
      <a href="/blog.html"> Blog </a>
      <a href="/contact.html"> Contact </a>
      <a href="/contact.html"> Shop </a>
      <a href="/donate.html"> Get involved </a>
    </nav> 
  </footer>
  