<section class="padded bg-featured grid-spaceBetween text-light">
    <div class="capped-width-narrow grid-spaceBetween">
        <div class="col-5_sm-12">
                <h2>{{block.heading}}</h2>
                <h6>{{block.subheading}}</h6>
            </div>
            <div class="col-3_sm-6 padded-l center">
                <a href="/donate.html" class="button-cta">
                    <img src="/images/seedsandstories-13.jpg" alt="" class="shape-dome img-500"> Donate
                </a>
            </div>
            <div class="col-3_sm-6 padded-l center">
                <a href="/shop.html" class="button-cta">
                    <img src="/images/seedsandstories-13.jpg" alt="" class="shape-dome img-500"> Shop
                </a>
            </div>
    </div>
    
</section>