<section class="padded-lg padded-tb bg-featured grid-spaceBetween text-light center">
    <div class="col-5_sm-12 padded-1">
        <h2>{{block.heading}}</h2>
        <h6>{{block.subheading}}</h6>
    </div>
    <div class="col-3_sm-6 padded-1">
        <a href="/donate.html">
            <img src="/images/seedsandstories-13.jpg" alt="" class="shape-dome img-500 button-cta-img">
            <a href="/donate.html" class="button-cta">Donate
            </a>
        </a>
        
    </div>
    <div class="col-3_sm-6 padded-1">
        <a href="/shop.html">
            <img src="/images/seedsandstories-13.jpg" alt="" class="shape-dome img-500 button-cta-img">
        </a>
        <a href="/shop.html" class="button-cta">Shop</a>
    </div>
</section>