<section class="{{block.background-style}} {{block.text-style}} padded">
    <div class="capped-width-narrow">
        <div class="{{block.headings-style}}">
            <h2>{{block.heading}}</h2>
            <h5>{{block.subheading}}</h5>
        </div>
        <div class="grid">
            <div class="col-7_sm-12 padded-r">{{block.block_html}}</div>
            <div class="col-5_sm-12 bg-image" style="background-image: url({{block.block_image}});"></div>        
        </div>
    </div>
</section>